<div class="author">
    <h1 class="author__heading">Hi, I am Nice</h1>
    <p class="author__body">Junior dev and web3 job hunter</p>
</div>

<img src="/mypic.jpg" alt="mypic" class="mypic" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

     <ul class="article-ul">

      <% data.forEach(post => { %>
       <li>
         <a href="/post/<%= post._id %>">
            <span><%= post.title %></span>
            <span class="article-list__date"><%= new Date(post.createdAt).toDateString() %></span>
            </a>
        </li>
 <% }) %>
</ul>

<% if (nextPage !== null) { %>
     <a href="/?page=<% nextPage %>" class="pagination">&lt; View Older Posts</a>
<% } %>

   

</section>